<div class="col-md-6">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Weight <small>...measured <%= @last_weighin.taken_at.strftime('%d %B %Y %I:%M %P') %></small></h3>
    </div>
    <ul class="list-group">
      <li class="list-group-item">
        <h2><%= @last_weighin.weight %> KG</h2>
        <h2><%= @last_weighin_lbs %> LBS</h2>
      </li>
    </ul>
  </div>
</div>

<div class="col-md-6">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Calorie intake for today</h3>
    </div>
    <ul class="list-group">
      <li class="list-group-item">
        <h2>
          <% if @current_intake %>
            <%= @current_intake.calories %>
          <% else %>
            0
          <% end %>
          / 2295
        </h2>
      </li>
    </ul>
  </div>
</div>

<div class="col-md-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Last Weighin's</h3>
    </div>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Weight</th>
          <th>Fat mass (kg)</th>
          <th>Bodyfat %</th>
          <th>Lean mass (kg)</th>
          <th>Measured</th>
        </tr>
      </thead>
      <tbody>
        <% @measurements.each do |m| %>
          <tr>
            <td><%= '%.2f' % m.weight %></td>
            <td><%= m.bodyfat_mass if m.bodyfat_mass.present? %></td>
            <td><%= '%.2f' % m.bodyfat_percentage if m.bodyfat_percentage.present? %></td>
            <td><%= m.lean_mass if m.lean_mass.present? %></td>
            <td><%= m.taken_at.strftime('%d %b %Y %I:%M %P') %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Macronutrients</h3>
    </div>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Date</th>
          <th>Calories</th>
          <th>Carbs</th>
          <th>Fat</th>
          <th>Protein</th>
        </tr>
      </thead>
      <tbody>
        <% @macronutrients.each do |macro| %>
          <tr>
            <td><%= link_to macro.logged_date.to_s(:long_ordinal), "http://www.myfitnesspal.com/food/diary/callumbarratt?date=#{macro.logged_date}" %></td>
            <td><%= macro.calories %> calories</td>
            <td><%= macro.carbs %>g</td>
            <td><%= macro.fat %>g</td>
            <td><%= macro.protein %>g</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
